@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

%icon {
  position: relative;
  display:inline-block;
  font-family:"icon-font";
  font-style:normal;
  font-weight:normal;
  line-height:1;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  vertical-align:middle;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

@function icon-char($filename) {
  $char: "";
<% _.each(glyphs, function(glyph) { %>
  @if $filename == <%= glyph.fileName %> {
    $char: "\<%= glyph.codePoint %>";
  }<% }); %>

  @return $char;
}

@mixin icon($filename) {
  content: icon-char($filename);
}

<% _.each(glyphs, function(glyph) { %>
.icon-<%= glyph.fileName %>{
  @extend %icon;
  &:before {
    @include icon(<%= glyph.fileName %>);
  }
}
%icon-<%= glyph.fileName %> {
  @extend %icon;
  @include icon(<%= glyph.fileName %>);
}

<% }); %>