doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    //<link rel="shortcut icon" href="assets/img/favicon.png">
    //<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    link(rel='stylesheet', href='assets/css/styles.css')
  body
    script(src='assets/js/scripts.min.js')
